<div class="container-fluid">
  <div class="header">
    <img src= "/assets/TuSegundazo.com.svg" alt="Tu_Segundazo">
  </div>
</div>
<hr/>
<div class="container-fluid">
  <div class="banner">
    <img src= "/assets/image 1.svg" alt="Banner_Tu_segundazo">
  </div>
</div>
<hr/>

<app-vehiculo-list></app-vehiculo-list>

<div class="container-fluid">
  <div class="footer">
    <p class="row justify-content-center">Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
  </div>
</div>


